/* ===== ANNOUNCEMENT BAR ===== */
.announcement-bar {
  background: var(--second-dark);
  color: var(--light);
  text-align: center;
  padding: 10px 16px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement-bar svg {
  width: 18px;
  height: 18px;
}

.announcement-bar .viewport {
  width: 33%;
}

.announcement-bar .nav {
  width: 16px;
  height: 16px;
  color: var(--light);
}

.announcement-bar .item {
  display: none;
}

.announcement-bar .item.active {
  display: block;
}